           :root {
               --dp-green: #2b4a45;
           }

           body {
               font-family: 'Montserrat', sans-serif;
               color: var(--dp-green);
               max-width: 1000px;
               margin: 0 auto;
               padding: 20px;
           }

           .content-padding {
               padding: 30px;
           }

           .page-header {
               background-color: var(--dp-green);
               border-radius: 8px;
               ;
           }

           h1 {
               color: white;
           }

           h2 {
               margin-top: 30px;
               padding-bottom: 5px;
           }

           label {
               display: block;
               margin: 8px 0;
           }


           #result {
               margin-top: 20px;
               opacity: 1;
               transition: opacity 0.5s ease;
           }

           .result-visible {
               border: 3px solid black;
               margin: 0 30px;
               padding: 5px 15px;
               border-radius: 8px;
           }

           /* DYNAMIC CLASSES FOR RESULTS BACKGROUND*/
           .red {
               border: 3px solid rgb(252, 81, 81);
           }

           .orange {
               border: 3px solid rgb(238, 164, 26);
           }

           .yellow {
               border: 3px solid rgb(255, 255, 145);
           }

           .green {
               border: 3px solid rgb(157, 223, 157);
           }

           .hidden {
               display: none;
           }

           .visible {
               display: block;
           }

           .flex-row {
               display: flex;
               flex-direction: row;
               align-items: center;
           }

           input {
               padding: 8px;
               border: 0.5px solid var(--dp-green);
               border-radius: 8px;
               font-family: 'Montserrat', sans-serif;
           }

           button {
               padding: 5px 10px;
               border: none;
               border-radius: 8px;
               font-size: 1rem;
               font-family: 'Montserrat', sans-serif;
               font-weight: bold;
               background-color: var(--dp-green);
               color: white;
               box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
           }

           button:hover {
               cursor: pointer;
               background-color: rgb(43, 74, 69, 0.7);
           }

           table {
               width: 100%;
               border-collapse: collapse;
               margin: 1em 0;
               font-family: 'Montserrat', sans-serif;
               box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           }

           th,
           td {
               padding: 12px 16px;
               text-align: left;
               border-bottom: 1px solid #ddd;
           }

           thead {
               background-color: #f5f5f5;
           }

           tbody tr:nth-child(even) {
               background-color: #fafafa;
           }

           th {
               font-weight: 600;
               color: var(--dp-green);
           }